<ion-view title="View Equipments" id="page13">

    <ion-content padding="true" class="has-header" ng-controller="addEquipmentCtrl">
        <form id="addEquipment-form5" class="list ">
            <div class="spacer" style="width: 300px; height: 38px;"></div>
            <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon">
            </i>
            <input type="text" placeholder="search" ng-model="eqpmnt">
          </label>
        </div>
            <ion-list ng-repeat="equipment in equipmentList | filter: eqpmnt">
                <ion-item ng-click="defineEquipmentQuantity('{{equipment.ID}}','{{equipment.desc}}', '{{equipment.price}}')">
                {{equipment.desc}}
                    <span class="item-note">
                        Php {{equipment.price}}
                    </span>
                    <!--ion-option-button class="button-calm" >
                        Purchase
                    </ion-option-button-->
                </ion-item>
                <ion-item>
                Equipment ID
                    <span class="item-note">
                        {{equipment.ID}}
                    </span>
                </ion-item>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
            </ion-list>
        </form>
        <button id="addProduct-button20" class='btn btn-raised ink-reaction btn-primary btn-block' ng-click="showPopup()">Choose Payment Type</button>
        <button id="addProduct-button20" class='btn btn-raised ink-reaction btn-primary btn-block' ng-click="openCartEquipments()">View order overview</button>
        <a ui-sref="tabsController.orders" id="addEquipment-button17" class='btn btn-raised ink-reaction btn-accent btn-block'>Cancel</a>
    </ion-content>
</ion-view>