<ion-modal-view title="Change Password" id="page18">
<ion-header-bar class="bar bar-header" style="background-color:#886aea;">
    <h1 class="title" style="color:white;">Change Password</h1>
    <button class="button button-clear" ng-click="closeChangePasswordModal()">close</button></ion-header-bar>
    <ion-content padding="true" class="has-header">
        <ion-list id="changePassword-list14">
            <label class="item item-input item-floating-label" id="changePassword-input13">
                <span class="input-label">Old Password</span>
                <input type="text" placeholder="Old Password">
            </label>
            <label class="item item-input item-floating-label" id="changePassword-input14">
                <span class="input-label">New Password</span>
                <input type="text" placeholder="New Password">
            </label>
            <label class="item item-input item-floating-label" id="changePassword-input15">
                <span class="input-label">Re-type Password</span>
                <input type="text" placeholder="Re-type Password">
            </label>
        </ion-list>
        <a id="changePassword-button27" class='btn btn-raised ink-reaction btn-warning btn-block ' ng-click="closeChangePasswordModal()">Confirm</a>
        <a  id="changePassword-button28" class='btn btn-raised ink-reaction btn-warning btn-block ' ng-click="closeChangePasswordModal()">Cancel</a>
    </ion-content>
</ion-modal-view>