<ion-view title="Orders" id="page5" class="has-header">
<ion-content padding="true">
	<ion-list>
	<span class="item-note">

	</span>
	</ion-list>
<div class="spacer" style="width: 320px; height: 31px;"></div>
<a ui-sref="tabsController.addProduct" class='btn btn-raised ink-reaction btn-primary btn-block'>Add Product</a>
<div class="spacer" style="width: 320px; height: 20px;"></div>
<a ui-sref="tabsController.addEquipment" class='btn btn-raised ink-reaction btn-primary btn-block'>Add Equipment</a>
</ion-content>
</ion-view>