<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-striped tabs-top tabs-positive tabs-color-active-positive " id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-ios-home" href="#/page1/tab1/Home" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Carts" icon="ion-ios-cart" href="#/page1/MyCart" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Orders" icon="ion-android-boat" href="#/page1/Orders" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-android-person" href="#/page1/Profile" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>