
#right-menu .nav-tabs {
  width: 100%;
  border-bottom: 1px solid #dee5e7;
}

#right-menu .nav-tabs span {
  color: #98a6ad;
}

#right-menu .nav-tabs li {
  padding: 0px;
  padding-left: 4px;
  width: 32.666666667%;
}

#right-menu .nav-tabs li a {
  padding: 15px;
}

#right-menu .nav-tabs .active a {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #23b7e5;
}

#right-menu .nav-tabs .active span {
  color: #98a6ad;
}

#right-menu .nav-tabs li:hover {
  background: #fff;
  border: none;
  border-bottom: 1px solid #23b7e5;
}

#right-menu .nav-tabs li a:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #23b7e5;
}

.input-group-addon,
.user-photo,
.cover-v1,
.nav-tabs.nav-tabs-v2,
.tabs-area,
.mail-wrapper,
.mail-reply,
.panel,
.thumbnail,
.navbar{
  -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  -ms-box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  -o-box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

/*=============== Tabs Page ==================*/

.tabs-wrapper .windows {
  padding: 0px !important;
}

.tabs-wrapper .windows-content {
  padding: 0px !important;
  height: 235px;
}

.tabs-wrapper #tabs-demo {
  border: none !important;
}

.tabs-wrapper #tabs-demo li,
.tabs-wrapper #tabs-demo li a {
  border: none !important;
}

.tabs-wrapper #tabs-demo .active a {
  border-bottom: 2px solid #918C8C !important;
}

.tabs-wrapper #tabs-content-demo {
  padding: 20px;
}

.tabs-wrapper .tab-content {
  padding: 20px !important;
  text-align: left;
  color: #8F8686 !important;
}

.tabs-area {
  background-color: #fff;
  padding: 0px;
  margin-top: 20px;
}

.tab-content-v1 {
  border-left: 2px solid #918C8C;
}

.nav-tabs.nav-tabs-v1 {
  border: none !important;
  padding: 10px !important;
}

.nav-tabs.nav-tabs-v1 a {
  color: #918C8C;
  font-weight: bold;
}

.nav-tabs.nav-tabs-v1 .active a {
  border: none !important;
  color: #ddd !important;
}

.nav-tabs.nav-tabs-v1 li a:before {
  content: '';
  position: absolute;
  width: 80%;
  border-bottom: 2px solid #918C8C;
  bottom: 1px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -webkit-transform 0.2s ease-in;
  -ms-transition: -webkit-transform 0.2s ease-in;
  -o-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -webkit-transition: transform: 0.2s ease-in;
  -moz-transition: transform: 0.2s ease-in;
  -ms-transition: transform: 0.2s ease-in;
  -o-transition: transform: 0.2s ease-in;
  transition: transform: 0.2s ease-in;
}

.nav-tabs.nav-tabs-v1 li a:focus {
  color: #ddd;
}

.nav-tabs.nav-tabs-v1 li a:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-tabs.nav-tabs-v1 li a:hover {
  background: none !important;
  color: #A19C9C !important;
  border: none;
}

/*tabs v2*/

.nav-tabs.nav-tabs-v2 {
  border-bottom: 1px solid #ddd !important;
  padding-top: 20px;
}





.nav-tabs.nav-tabs-v2 .active a {
  background-color: #f4f4f4 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.tabs-content-v2 {
  background-color: #F4F4F4;
}

/*tabs v3*/

.nav-tabs.nav-tabs-v3 {
  border-bottom: 2px solid #DDD;
  padding-top: 20px;
}

.nav-tabs.nav-tabs-v3 > li.active > a,
.nav-tabs.nav-tabs-v3 > li.active > a:focus,
.nav-tabs.nav-tabs-v3 > li.active > a:hover {
  border-width: 0;
}

.nav-tabs.nav-tabs-v3 > li > a {
  border: none;
  color: #607D8B;
}

.nav-tabs.nav-tabs-v3 > li.active > a,
.nav-tabs.nav-tabs-v3 > li > a:hover {
  border: none;
  color: #455a64 !important;
  background: transparent;
}

.nav-tabs.nav-tabs-v3 > li > a::after {
  content: "";
  background: #455a64;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  -moz-transition: all 250ms ease 0s;
  -ms-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.nav-tabs.nav-tabs-v3 > li.active > a::after,
.nav-tabs.nav-tabs-v3 > li:hover > a::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.tab-nav.nav-tabs-v3 > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

/*tabs4*/

.nav-tabs.nav-tabs-v4 {
  width: 70%;
  margin: auto;
  border: none !important;
   padding-top: 0px !important;
}

.nav-tabs.nav-tabs-v4 li.active a{
  background: #2196f3;
  color: #fff;
  border:none !important;
}

.nav-tabs.nav-tabs-v4 li {
  font-size: 2em;
  width: 25%;
  padding-top: 20px;
}

.nav-tabs.nav-tabs-v4 li a {
  border: 1px solid #1c84c6 !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
}



/*tabs5*/

.tab-content-v5 p.narrow {
  width: 60%;
  margin: 0px auto;
}

.nav-tabs.nav-tabs-v5 {
  background-color: #f4f4f4;
}

.nav-tabs.nav-tabs-v5 .liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 55px;
  z-index: 1;
}

.nav-tabs.nav-tabs-v5 > li.active > a,
.nav-tabs.nav-tabs-v5 > li.active > a:hover,
.nav-tabs.nav-tabs-v5 > li.active > a:focus {
  color: #555555;
  cursor: default;
  /* background-color: #ffffff; */
  border: 0;
  border-bottom-color: transparent;
}

.nav-tabs.nav-tabs-v5 span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

.nav-tabs.nav-tabs-v5 span.round-tabs.one {
  color: rgb(34, 194, 34);
  border: 2px solid rgb(34, 194, 34);
}

.nav-tabs.nav-tabs-v5 li.active span.round-tabs.one {
  background: #fff !important;
  border: 2px solid #ddd;
  color: rgb(34, 194, 34);
}

.nav-tabs.nav-tabs-v5 span.round-tabs.two {
  color: #febe29;
  border: 2px solid #febe29;
}

.nav-tabs.nav-tabs-v5 li.active span.round-tabs.two {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #febe29;
}

.nav-tabs.nav-tabs-v5 span.round-tabs.three {
  color: #3e5e9a;
  border: 2px solid #3e5e9a;
}

.nav-tabs.nav-tabs-v5 li.active span.round-tabs.three {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #3e5e9a;
}

.nav-tabs.nav-tabs-v5 span.round-tabs.four {
  color: #f1685e;
  border: 2px solid #f1685e;
}

.nav-tabs.nav-tabs-v5 li.active span.round-tabs.four {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #f1685e;
}

.nav-tabs.nav-tabs-v5 span.round-tabs.five {
  color: #999;
  border: 2px solid #999;
}

.nav-tabs.nav-tabs-v5 li.active span.round-tabs.five {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #999;
}

.nav-tabs.nav-tabs-v5 > li.active > a span.round-tabs {
  background: #fafafa;
}

.nav-tabs.nav-tabs-v5 > li {
  width: 20%;
}

.nav-tabs.nav-tabs-v5 li.active:before {
  content: " ";
  position: absolute;
  left: 45%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  margin: 0 auto;
  bottom: -2px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-tabs.nav-tabs-v5 li:after {
  content: " ";
  position: absolute;
  left: 45%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.nav-tabs.nav-tabs-v5 li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
}

.nav-tabs.nav-tabs-v5 > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
}

.tab-content-v5 .btn {
  padding: 12px 20px;
  margin: 20px;
}

/*tabs 6*/

.nav-tabs.nav-tabs-v6 > li.active:after {
  top: 90%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(185, 9, 8, 0);
  border-top-color: #F4F4F4;
  border-width: 30px;
  margin-left: -30px;
}

.nav-tabs.nav-tabs-v6 {
  background-color: #F4F4F4 !important;
  border-bottom: none !important;
}

.nav-tabs.nav-tabs-v6 li {
  padding: 40px;
  padding-bottom: 10px;
}

.nav-tabs.nav-tabs-v6 li a {
  background-color: #F4F4F4 !important;
  border: none !important;
}

.tab-content.tab-content-v6 {
  padding: 30px !important;
}

/*tabs 6*/



.tab-pane {
  position: relative;
}

.tab-content .head {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media( max-width: 585px) {
  .nav-tabs.nav-tabs-v5 span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .tab-content .head {
    font-size: 20px;
  }

  .nav-tabs.nav-tabs-v5 > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .nav-tabs.nav-tabs-v5 li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  

 .bg-white       {background-color: #FFF  ;}
 .bg-red         {background-color: #F44336  ;}
 .bg-pink        {background-color: #E91E63  ;}
 .bg-purple      {background-color: #9C27B0  ;}
 .bg-deep-purple {background-color: #673AB7  ;}
 .bg-indigo      {background-color: #3F51B5  ;}
 .bg-blue        {background-color: #2196F3  ;}
 .bg-light-blue  {background-color: #03A9F4  ;}
 .bg-cyan        {background-color: #00BCD4  ;}
 .bg-teal        {background-color: #009688  ;}
 .bg-green       {background-color: #4CAF50  ;}
 .bg-light-green {background-color: #8BC34A  ;}
 .bg-lime        {background-color: #CDDC39  ;}
 .bg-yellow      {background-color: #FFEB3B  ;}
 .bg-amber       {background-color: #FFC107  ;}
 .bg-orange      {background-color: #FF9800  ;}
 .bg-deep-orange {background-color: #FF5722  ;}
 .bg-brown       {background-color: #795548  ;}
 .bg-grey        {background-color: #9E9E9E  ;}
 .bg-light-grey  {background-color: #f0f3f4  ;}
 .bg-blue-grey   {background-color: #607D8B  ;}
 
 .bg-dark-red         {background-color: #d32f2f  ;}
 .bg-dark-pink        {background-color: #c2185b  ;}
 .bg-dark-purple      {background-color: #7b1fa2  ;}
 .bg-dark-deep-purple {background-color: #512da8  ;}
 .bg-dark-indigo      {background-color: #303f9f  ;}
 .bg-dark-blue        {background-color: #1976d2  ;}
 .bg-dark-light-blue  {background-color: #0288d1  ;}
 .bg-dark-cyan        {background-color: #0097a7  ;}
 .bg-dark-teal        {background-color: #00796b  ;}
 .bg-dark-green       {background-color: #388e3c  ;}
 .bg-dark-light-green {background-color: #689f38  ;}
 .bg-dark-lime        {background-color: #afb42b  ;}
 .bg-dark-yellow      {background-color: #fbc02d  ;}
 .bg-dark-amber       {background-color: #ffa000  ;}
 .bg-dark-orange      {background-color: #f57c00  ;}
 .bg-dark-deep-orange {background-color: #e64a19  ;}
 .bg-dark-brown       {background-color: #5d4037  ;}
 .bg-dark-grey        {background-color: #616161  ;}
 .bg-dark-blue-grey   {background-color: #455a64  ;}

